<a href="https://colab.research.google.com/github/justtrying23/py/blob/main/ControlStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=input("enter value")
b=input("enter value")
c=input("enter value")
a=int(a)
b=int(b)
c=int(c)
if a>b and a>c :
   print(a," is greater then ",b ," and ",c)
elif b>c and b>a :
   print(b," is greater then",a," and ",c)
else :
   print(c," is greater then ",a," and ",b)

enter value20
enter value40
enter value6
40  is greater then 20  and  6

In [ ]:
a=input("enter value")
a=int(a)
if a%3==0 :
  print(a,"is divisible by ",3)
if a%10==0:
  print(a,"is divisible by ",10)
if a%5==0:
  print(a,"is divisible by ",5)
else:
  print(a,"is not divisible by ",3,5,10)

enter value49
49 is not divisible by  3 5 10

In [ ]:
a=input("enter value")
a=int(a)
if a<=10:
  if a==1:
    print("one")
  elif a==2:
    print("two")
  elif a==3:
    print("three")
  elif a==4:
    print("four")
  elif a==5:
    print("five")
  elif a==6:
    print("six")
  elif a==7:
    print("seven")
  elif a==8:
    print("eight")
  elif a==9:
    print("nine")
  elif a==10:
    print("ten")
else:
  print(a,"is greater then 10")

enter value22
22 is greater then 10

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5