<a href="https://colab.research.google.com/github/justtrying23/py/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
a=int(input("enter"))
for i in range(0,10):
  i+=1
  print(i*a)

enter5
5
10
15
20
25
30
35
40
45
50

In [ ]:
a=int(input("enter"))
sum=0
for i in range(a,0,-1):
  sum+=i

print(sum)

enter5
15

In [ ]:
a=int(input("enter"))
rev=""
for i in range(a):
  c=a%10
  rev+=str(c)
  a=int(a/10)
  if a==0:
    break
print(rev)

enter354
453

In [ ]:
for i in range(10):
    if i==6:
      print("i is 6")
      break
    print(i)

0
1
2
3
4
5
i is 6

In [ ]:
for i in "heloo":
  print(i)

h
e
l
o
o